pipeline/CopyDataIntoLandingFolder.json
{
	"name": "CopyDataIntoLandingFolder",
	"properties": {
		"activities": [
			{
				"name": "lkp_EMR_configs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "generic_adls_flat_file_ds",
						"type": "DatasetReference",
						"parameters": {
							"File_name": "load_config.csv",
							"File_path": "emr",
							"Container": "configs"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_EMR_configs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_EMR_configs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "fileexists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(equals(activity('fileexists').output.exists,true),equals(item().is_active,'1'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ArchiveFile",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"file_name": "@split(item().tablename, '.')[1]",
													"file_path": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"container": {
														"value": "bronze",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"file_name": "@split(item().tablename, '.')[1]",
													"file_path": {
														"value": "@concat(item().targetpath, '/archive/',\nformatDateTime(utcNow(), 'yyyy'), '/',\nformatDateTime(utcNow(), '%M'), '/',\nformatDateTime(utcNow(), '%d'))",
														"type": "Expression"
													},
													"container": "bronze"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().loadtype,'Full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "FetchLastLoadTime",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('select coalesce(cast(max(loaddate) as\ndate),''','1900-01-01',''') as last_fetched_date from audit.load_logs\nwhere',' data_source=''',item().datasource,'''tablename = ''',item().tablename)",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "AzureDatabricksDeltaLakeDataset1",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "'aa'",
													"table_name": "'aa'"
												}
											}
										}
									},
									{
										"name": "IncrementalLoadCp",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "FetchLastLoadTime",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select *,''',item().datasource,''' as datasource from\n',item().tablename,' where ',item().watermark,' >=\n''',activity('FetchLastLoadTime').output.firstRow.last_fetched_date,'''')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "generic_SQLDB_ds",
												"type": "DatasetReference",
												"parameters": {
													"db_name": {
														"value": "@item().database",
														"type": "Expression"
													},
													"schema_name": {
														"value": "@split(item().tablename,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"file_name": "@split(item().tablename,'.')[1]",
													"file_path": "@item().targetpath",
													"container": "bronze"
												}
											}
										]
									},
									{
										"name": "insert_log_fill",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "IncrementalLoadCp",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''',item().datasource,''',''',item().tablename,''',''',activity('IncrementalLoadCp').output.rowscopied,''',''',item().watermark,''',''',utcNow(),''')')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "AzureDatabricksDeltaLakeDataset1",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "'aa'",
													"table_name": "'aa'"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Full Load CP",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select *,''',item().datasource,''' as datasource from\n',item().tablename)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "generic_SQLDB_ds",
												"type": "DatasetReference",
												"parameters": {
													"db_name": {
														"value": "@item().database",
														"type": "Expression"
													},
													"schema_name": {
														"value": "@split(item().tablename,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"file_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													},
													"file_path": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"container": "bronze"
												}
											}
										]
									},
									{
										"name": "Insert_Log_Full_Loads",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Full Load CP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('insert into\naudit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolu\nmnname,loaddate) values (''',item().datasource,''',\n''',item().tablename,''',''',activity('Full Load CP').output.rowscopied,''',''',item().watermark\n,''',''',utcNow(),''')')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "AzureDatabricksDeltaLakeDataset1",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "'aa'",
													"table_name": "'aa'"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "fileexists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "generic_adls_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@split(item().tablename,'.')[1]",
											"type": "Expression"
										},
										"file_path": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"container": "bronze"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-19T15:20:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}